force-app/main/default/flows/Custom_Product_Configurator_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_AddedNode_From_Input</name>
        <label>Set AddedNode From Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AddedNode.unitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_AddedNode_UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddedNode.subscriptionTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_AddedNode_SubscriptionTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddedNode.sellingModelType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_AddedNode_SellingModelType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddedNode.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_AddedNode_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddedNode.productSellingModel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_AddedNode_ProductSellingModel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddedNode.productName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_AddedNode_ProductName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddedNode.productCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_AddedNode_ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddedNode.productBasedOn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_AddedNode_ProductBasedOn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddedNode.product</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_AddedNode_Product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddedNode.pricingTermUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_AddedNode_PricingTermUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddedNode.pricebookEntry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_AddedNode_PricebookEntry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddedNode.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_AddedNode_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddedNode.businessObjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_AddedNode_BusinessObjectType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Cfg_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cfg_From_Input</name>
        <label>Set Configurator Context From Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>configuratorContext.transactionLineId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_Cfg_TransactionLineId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>configuratorContext.transactionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_Cfg_TransactionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>configuratorContext.parentName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_Cfg_ParentName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>configuratorContext.origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_Cfg_Origin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>configuratorContext.explainabilityEnabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_Cfg_ExplainabilityEnabled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>configuratorContext.addedNodes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddedNode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S01_ProductConfiguratorUI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_AddedNode_Input</name>
        <label>Check AddedNode Input Provided?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Cfg_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Provided — Skip</defaultConnectorLabel>
        <rules>
            <name>AddedNode_Input_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>In_AddedNode_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AddedNode_From_Input</targetReference>
            </connector>
            <label>Provided — Set Fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Cfg_Input</name>
        <label>Check Configurator Context Input Provided?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S01_ProductConfiguratorUI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Provided — Skip</defaultConnectorLabel>
        <rules>
            <name>Cfg_Input_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>In_Cfg_TransactionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cfg_From_Input</targetReference>
            </connector>
            <label>Provided — Set Fields</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Custom Product Configurator Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Product Configurator Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display</name>
        <label>Display</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Label</name>
            <fieldText>&lt;p&gt;Flow complete. Data Manager values were captured by the dataManagerCapture component on the previous screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S01_ProductConfiguratorUI</name>
        <label>S01_ProductConfiguratorUI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Test</targetReference>
        </connector>
        <fields>
            <name>S01_DataManager</name>
            <extensionName>runtime_industries_cfg:dataManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>origin</name>
                <value>
                    <elementReference>configuratorContext.origin</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentName</name>
                <value>
                    <elementReference>configuratorContext.parentName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transactionId</name>
                <value>
                    <elementReference>configuratorContext.transactionId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transactionLineId</name>
                <value>
                    <elementReference>configuratorContext.transactionLineId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addedNodes</name>
                <value>
                    <elementReference>configuratorContext.addedNodes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentTransactionLineId</name>
                <value>
                    <elementReference>configuratorContext.currentTransactionLineId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transactionLineGroupId</name>
                <value>
                    <elementReference>configuratorContext.transactionLineGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>explainabilityEnabled</name>
                <value>
                    <elementReference>configuratorContext.explainabilityEnabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isNonBlockingEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>areMessagesFixed</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userContext</name>
                <value>
                    <elementReference>configuratorContext.userContext</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contextId</name>
                <value>
                    <elementReference>configuratorContext.contextId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S01_ConfigHeader</name>
            <extensionName>runtime_industries_cfg:configHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isInstantPricingToggleEnabled</name>
                <value>
                    <elementReference>S01_DataManager.isInstantPricingToggleEnabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>explainabilityEnabled</name>
                <value>
                    <elementReference>S01_DataManager.explainabilityEnabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>favoriteData</name>
                <value>
                    <elementReference>S01_DataManager.favoriteData</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDesignTime</name>
                <value>
                    <elementReference>S01_DataManager.isDesignTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>S01_DataManager.headerTitle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrices</name>
                <value>
                    <elementReference>S01_DataManager.showPrices</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInstantPricingEnabled</name>
                <value>
                    <elementReference>S01_DataManager.isInstantPricingEnabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isApiInProgress</name>
                <value>
                    <elementReference>S01_DataManager.isApiInProgress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isNonBlockingEnabled</name>
                <value>
                    <elementReference>S01_DataManager.isNonBlockingEnabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPriceRampEnabled</name>
                <value>
                    <elementReference>S01_DataManager.isPriceRampEnabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isGroupRampEnabled</name>
                <value>
                    <elementReference>S01_DataManager.isGroupRampEnabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tabs</name>
                <value>
                    <elementReference>S01_DataManager.tabs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>layoutMode</name>
                <value>
                    <elementReference>S01_DataManager.layoutMode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rootProductId</name>
                <value>
                    <elementReference>S01_DataManager.rootProductId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentGroupName</name>
                <value>
                    <elementReference>S01_DataManager.currentGroupName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S01_Messages</name>
            <extensionName>runtime_industries_cfg:messages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messages</name>
                <value>
                    <elementReference>S01_DataManager.messages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>areMessagesFixed</name>
                <value>
                    <elementReference>S01_DataManager.areMessagesFixed</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S01_ProductConfiguratorUI_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S01_ProductConfiguratorUI_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>S01_TransactionHeader</name>
                    <extensionName>runtime_industries_cfg:transactionHeader</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>transactionRecord</name>
                        <value>
                            <elementReference>S01_DataManager.transactionRecord</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messages</name>
                        <value>
                            <elementReference>S01_DataManager.messages</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>areMessagesFixed</name>
                        <value>
                            <elementReference>S01_DataManager.areMessagesFixed</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>S01_BreadCrumbs</name>
                    <extensionName>runtime_industries_cfg:breadcrumbs</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>navigationRoute</name>
                        <value>
                            <elementReference>S01_DataManager.navigationRoute</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>searchInfo</name>
                        <value>
                            <elementReference>S01_DataManager.searchInfo</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isApiInProgress</name>
                        <value>
                            <elementReference>S01_DataManager.isApiInProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isNonBlockingEnabled</name>
                        <value>
                            <elementReference>S01_DataManager.isNonBlockingEnabled</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>S01_Header</name>
                    <extensionName>runtime_industries_cfg:productHeader</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>currencyCode</name>
                        <value>
                            <elementReference>S01_DataManager.currencyCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isClassContext</name>
                        <value>
                            <elementReference>S01_DataManager.isClassContext</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDesignTime</name>
                        <value>
                            <elementReference>S01_DataManager.isDesignTime</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>header</name>
                        <value>
                            <elementReference>S01_DataManager.header</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>quantityReadOnly</name>
                        <value>
                            <elementReference>S01_DataManager.header.quantityReadOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>S01_DataManager.isConfiguratorDisabled</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isApiInProgress</name>
                        <value>
                            <elementReference>S01_DataManager.isApiInProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isNonBlockingEnabled</name>
                        <value>
                            <elementReference>S01_DataManager.isNonBlockingEnabled</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>layoutMode</name>
                        <value>
                            <elementReference>S01_DataManager.layoutMode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>eligiblePromotions</name>
                        <value>
                            <elementReference>S01_DataManager.eligiblePromotions</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>S01_AttributesPanel</name>
                    <extensionName>runtime_industries_cfg:attributes</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>variant</name>
                        <value>
                            <stringValue>tabs</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>categorize</name>
                        <value>
                            <stringValue>true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>uncatAttrsLabel</name>
                        <value>
                            <stringValue>Other</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>attributes</name>
                        <value>
                            <elementReference>S01_DataManager.attributeCategories</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>S01_DataManager.isConfiguratorDisabled</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isApiInProgress</name>
                        <value>
                            <elementReference>S01_DataManager.isApiInProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isNonBlockingEnabled</name>
                        <value>
                            <elementReference>S01_DataManager.isNonBlockingEnabled</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>S01_OptionGroups</name>
                    <extensionName>runtime_industries_cfg:optionGroups</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>optionGroups</name>
                        <value>
                            <elementReference>S01_DataManager.optionGroups</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currencyCode</name>
                        <value>
                            <elementReference>S01_DataManager.currencyCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDesignTime</name>
                        <value>
                            <elementReference>S01_DataManager.isDesignTime</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>S01_DataManager.isConfiguratorDisabled</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>variant</name>
                        <value>
                            <stringValue>tabs</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isApiInProgress</name>
                        <value>
                            <elementReference>S01_DataManager.isApiInProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isNonBlockingEnabled</name>
                        <value>
                            <elementReference>S01_DataManager.isNonBlockingEnabled</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>salesTransactionItems</name>
                        <value>
                            <elementReference>S01_DataManager.salesTransactionItems</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>layoutMode</name>
                        <value>
                            <elementReference>S01_DataManager.layoutMode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>searchResultOptionId</name>
                        <value>
                            <elementReference>S01_DataManager.searchResultOptionId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contextMetadata</name>
                        <value>
                            <elementReference>S01_DataManager.contextMetadata</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isGroupRampEnabled</name>
                        <value>
                            <elementReference>S01_DataManager.isGroupRampEnabled</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>numberOfInlineAttributes</name>
                        <value>
                            <numberValue>5.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showInlineAttributes</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showCloneOption</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S01_ProductConfiguratorUI_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>S01_Summary</name>
                    <extensionName>runtime_industries_cfg:pricingSummary</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>summary</name>
                        <value>
                            <elementReference>S01_DataManager.summary</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currencyCode</name>
                        <value>
                            <elementReference>S01_DataManager.currencyCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDesignTime</name>
                        <value>
                            <elementReference>S01_DataManager.isDesignTime</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>navigationRoute</name>
                        <value>
                            <elementReference>S01_DataManager.navigationRoute</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showPrices</name>
                        <value>
                            <elementReference>S01_DataManager.showPrices</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>layoutMode</name>
                        <value>
                            <elementReference>S01_DataManager.layoutMode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showSummaryTotalSection</name>
                        <value>
                            <elementReference>S01_DataManager.showSummaryTotalSection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>eligiblePromotions</name>
                        <value>
                            <elementReference>S01_DataManager.eligiblePromotions</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>salesTransactionItems</name>
                        <value>
                            <elementReference>S01_DataManager.salesTransactionItems</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messages</name>
                        <value>
                            <elementReference>S01_DataManager.messages</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>areMessagesFixed</name>
                        <value>
                            <elementReference>S01_DataManager.areMessagesFixed</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S01_DataManagerCapture</name>
            <extensionName>c:dataManagerCapture</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dm_favoriteData</name>
                <value>
                    <elementReference>S01_DataManager.favoriteData</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dm_contextMetadata</name>
                <value>
                    <elementReference>S01_DataManager.contextMetadata</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dm_searchResultOptionId</name>
                <value>
                    <elementReference>S01_DataManager.searchResultOptionId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dm_currencyCode</name>
                <value>
                    <elementReference>S01_DataManager.currencyCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dm_layoutMode</name>
                <value>
                    <elementReference>S01_DataManager.layoutMode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dm_headerTitle</name>
                <value>
                    <elementReference>S01_DataManager.headerTitle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dm_rootProductId</name>
                <value>
                    <elementReference>S01_DataManager.rootProductId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dm_currentGroupName</name>
                <value>
                    <elementReference>S01_DataManager.currentGroupName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dm_areMessagesFixed</name>
                <value>
                    <elementReference>S01_DataManager.areMessagesFixed</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dm_isInstantPricingToggleEnabled</name>
                <value>
                    <elementReference>S01_DataManager.isInstantPricingToggleEnabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dm_explainabilityEnabled</name>
                <value>
                    <elementReference>S01_DataManager.explainabilityEnabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dm_isDesignTime</name>
                <value>
                    <elementReference>S01_DataManager.isDesignTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dm_showPrices</name>
                <value>
                    <elementReference>S01_DataManager.showPrices</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dm_isInstantPricingEnabled</name>
                <value>
                    <elementReference>S01_DataManager.isInstantPricingEnabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dm_isApiInProgress</name>
                <value>
                    <elementReference>S01_DataManager.isApiInProgress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dm_isNonBlockingEnabled</name>
                <value>
                    <elementReference>S01_DataManager.isNonBlockingEnabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dm_isPriceRampEnabled</name>
                <value>
                    <elementReference>S01_DataManager.isPriceRampEnabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dm_isGroupRampEnabled</name>
                <value>
                    <elementReference>S01_DataManager.isGroupRampEnabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dm_isConfiguratorDisabled</name>
                <value>
                    <elementReference>S01_DataManager.isConfiguratorDisabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dm_isClassContext</name>
                <value>
                    <elementReference>S01_DataManager.isClassContext</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dm_showSummaryTotalSection</name>
                <value>
                    <elementReference>S01_DataManager.showSummaryTotalSection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Test</name>
        <label>Test</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Display</targetReference>
        </connector>
        <fields>
            <name>he</name>
            <fieldText>&lt;p&gt;Hello&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>runtime_industries_cfg__ProductConfig</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_AddedNode_Input</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AddedNode</name>
        <apexClass>ProductConfig__SalesTransactionItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>configuratorContext</name>
        <apexClass>ProductConfig__ConfiguratorContext</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>In_AddedNode_BusinessObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>QuoteLineItem</stringValue>
        </value>
    </variables>
    <variables>
        <name>In_AddedNode_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ref_ce62f961_6af6_4f5a_aa81_b890155bcb1a</stringValue>
        </value>
    </variables>
    <variables>
        <name>In_AddedNode_PricebookEntry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01ud5000000Ujz4AAC</stringValue>
        </value>
    </variables>
    <variables>
        <name>In_AddedNode_PricingTermUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Months</stringValue>
        </value>
    </variables>
    <variables>
        <name>In_AddedNode_Product</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01td5000004LI9LAAW</stringValue>
        </value>
    </variables>
    <variables>
        <name>In_AddedNode_ProductBasedOn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>11Bd5000005gs5zEAA</stringValue>
        </value>
    </variables>
    <variables>
        <name>In_AddedNode_ProductCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CCC_FIBER_BROADBAND_BRONZE</stringValue>
        </value>
    </variables>
    <variables>
        <name>In_AddedNode_ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Fibre Broadband Bronze</stringValue>
        </value>
    </variables>
    <variables>
        <name>In_AddedNode_ProductSellingModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0jPd50000000rAnEAI</stringValue>
        </value>
    </variables>
    <variables>
        <name>In_AddedNode_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>In_AddedNode_SellingModelType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Evergreen</stringValue>
        </value>
    </variables>
    <variables>
        <name>In_AddedNode_SubscriptionTerm</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>In_AddedNode_UnitPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>In_Cfg_ExplainabilityEnabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>In_Cfg_Origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Quote</stringValue>
        </value>
    </variables>
    <variables>
        <name>In_Cfg_ParentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Quote</stringValue>
        </value>
    </variables>
    <variables>
        <name>In_Cfg_TransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0Q0d50000012YoDCAU</stringValue>
        </value>
    </variables>
    <variables>
        <name>In_Cfg_TransactionLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ref_ce62f961_6af6_4f5a_aa81_b890155bcb1a</stringValue>
        </value>
    </variables>
</Flow>
