force-app/main/default/flows/Managed_Wi_fi_Advanced_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Selected_Location</name>
        <label>Assign Selected Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>StoreSelectedLocation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedLocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>categoryProduct</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Wi_Fi_Category</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Wi-Fi Category</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Wi_Fi_Category</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getAllCategories</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Wi_Fi_Category.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Wi-Fi Advanced</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Select_Location</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Managed Wi-fi Advanced New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Managed Wi-fi Advanced New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAllCategories</name>
        <label>getAllCategories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Wi_Fi_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CatalogId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCatalog.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductCategory</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCatalog</name>
        <label>getCatalog</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAllCategories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductCatalog</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLocation</name>
        <label>getLocation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCatalog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItemRecipient</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>categoryProduct</name>
        <label>categoryProduct</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayCategoryandProductDuplicate</name>
            <extensionName>c:categoryAndProductDuplicate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>rootCategoryId</name>
                <value>
                    <stringValue>0ZGd5000000AFx3GAG</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedLocationJSON</name>
                <value>
                    <elementReference>SelectedLocation</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Location</name>
        <label>Select Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Selected_Location</targetReference>
        </connector>
        <fields>
            <name>SelectLocation</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>QuoteLineItemRecipient</typeValue>
            </dataTypeMappings>
            <extensionName>c:managedWifiAdvancedLocationSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>locations</name>
                <value>
                    <elementReference>getLocation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialSelectedLocationJSON</name>
                <value>
                    <elementReference>StoreSelectedLocation</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedLocation</assignToReference>
                <name>selectedLocationJSON</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getLocation</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Filter_Wi_Fi_Category</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductCategory</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the location details selected by the user.</description>
        <name>SelectedLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{}</stringValue>
        </value>
    </variables>
    <variables>
        <name>StoreSelectedLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{}</stringValue>
        </value>
    </variables>
</Flow>
